.wrap-parent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap-child
{
    margin-top: 5;
    text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 440px);
  gap: 10px;
  padding: 15px;
}
.photo {
  width: 440px;         
  height: auto; 
  padding: 15px;
  background: #f0f0f0;
  text-align: center;
}
